<form [formGroup]="myForm">
    <div *ngFor="let item of formData ; let i = index">
        <label for="">{{item}}</label>
        <input type="text" formControlName="{{item}}">

    </div>
    <button type="button" [disabled]="!myForm.valid" (click)="submitForm()">Submit</button>
</form>

<div *ngIf="submitted">
    <p>client_id:{{data.client_id}}</p>
    <p>device:{{data.device}}</p>
    <p>app_version:{{data.app_version}}</p>
    <p>device_id:{{data.device_id}}</p>
    <p>user_id:{{data.user_id}}</p>
    <p>brand_id:{{data.brand_id}}</p>
</div>

